main {
  width: 100%;
  height: 100vh;
}

section {
  position: absolute;
  left: 0;
  will-change: transform;
}

#background {
  bottom: 450px;
}

#middleground {
  bottom: 50px;
}

#foreground {
  bottom: 0px;
}

#background iframe {
  width: 1524px;
  height: 279px;
}

#middleground iframe {
  width: 1832px;
  height: 400px;
}

#foreground iframe {
  width: 2048px;
  height: 800px;
}