.container {
  background: #DDD;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 400px;
  visibility:visible;
}

.line {
  background: #aaa;
  height: 10px;
  position: relative;
  top: 20px;
  width: 100%;
}

.scrubber {
  background: #D00;
  border-radius: 3px;
  left: 0%;
  position: absolute;
  top: -15px; /* -0.5 x (.line height - .toggle height) */
  width: 3px;
  -webkit-transform: translateZ(0);
  cursor: col-resize;
  z-index:999;
}

.elementLayer {
  position: absolute;
  background: linear-gradient(to bottom, #649ef6 0%,#0081ef 100%);
  height: 20px;
  width: calc(100% - 2px - 0.5em);
  top: 40px;
  color: white;
  line-height: 20px;
  border: gray 1px solid;
  font-size: 12px;
  font-family: monospace;
  padding-left: 0.5em;
}

.effectLayer {
  position: absolute;
  background: linear-gradient(to bottom, #ff8700 0%,#e17b08 100%);
  height: 20px;
  width: calc(100% - 2px - 1em);
  top: 40px;
  color: white;
  line-height: 20px;
  border: gray 1px solid;
  font-size: 12px;
  font-family: monospace;
  padding-left: 1em;
}