@keyframes left {
  from { transform: translate(-100%); }
  to {   transform: translate(0px); }
}

@keyframes right {
  from { transform: translate(0px); }
  to {   transform: translate(100%); }
}

div {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(background.jpg);
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: Infinite;
}

#left {
  animation-name: left;
}

#right {
  animation-name: right;
}
