@keyframes left {
  from { transform: translate(-1524px); }
  to {   transform: translate(0px); }
}

@keyframes right {
  from { transform: translate(0px); }
  to {   transform: translate(1524px); }
}

div {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(background.jpg);
  width: 1524px;
  height: 279px;
  background-repeat: no-repeat;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: Infinite;
}

#left {
  animation-name: left;
}

#right {
  animation-name: right;
}
