section {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  will-change: transform;
}

section div {
  position: absolute;
  left: 0;
  background-repeat: repeat-x;
}

#background div {
  background-image: url(images/layer1.jpg);
  bottom: 450px;
  width: 1524px;
  height: 279px;
}

#middleground div {
  background-image: url(images/layer2.jpg);
  bottom: 50px;
  width: 1832px;
  height: 400px;
}

#foreground div {
  background-image: url(images/layer3.png);
  bottom: 0;
  width: 2048px;
  height: 800px;
}